body {
    background: rgb(226, 226, 226);
    font-family: 'Lemonada', cursive;
    color: rgb(53, 53, 53);
  }

  .title {
    font-size: 15em;
    text-align: center;
    font-family: "Bebas Neue", sans-serif;
  }
  
  h3 {
    padding-top: 0.25em;
  }
  
  .vertical-timeline-element-content {
    box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.25),
      0 0.4em 1.25em 0 rgba(0, 0, 0, 0.15) !important;
    padding: 2em 3em !important;
  }
  
  .date {
    color: rgb(16, 28, 29);
  }
  
  #description {
    margin: 1.5em 0 2em 0;
  }
  
  .button {
    text-decoration: none;
    padding: 0.5em 1em;
    border-radius: 5px;
    color: white;
  }
  
  .workButton {
    background-color: #75b2bd;
  }
  
  .workButton:hover {
    background-color: #75b2bd;
  }
  
  .schoolButton {
    background-color: #ddaf6b;
  }
  
  .schoolButton:hover {
    background-color: #ddaf6b;
  }

.title_experience {
    margin-top: 20px;
    text-align: left;
    font-size: 50px;
    margin-left: 4rem;
    font-family: 'Lemonada', cursive;
  }
  @media only screen and (max-width: 1700px) {
    .vertical-timeline-element-date {
      display: block !important;
      float: none !important;
      color: rgb(44, 44, 44);
      margin-top: 1.5em;
    }
  }

  @media screen and (max-width: 768px) {
    .title_experience {
        /* margin-top: 20px;
        text-align: left;
        font-size: 30px;
        margin-left: 20%;
        font-family: 'Lemonada', cursive; */
        margin-top: 20px;
        text-align: left;
        font-size: 30px;
        font-family: 'Lemonada', cursive;
      }
}
@media screen and (max-width: 375px) {
  .workButton {
    background-color: #75b2bd;
    font-size: 10px;
  }
  
  .workButton:hover {
    background-color: #75b2bd;
    font-size: 10px;
  }
  
  .schoolButton {
    background-color: #ddaf6b;
    font-size: 10px;
  }
  
  .schoolButton:hover {
    background-color: #ddaf6b;
    font-size: 10px;
  }

}